/* Your custom styles */
@import url('https://fonts.googleapis.com/css?family=Roboto');

.g-text{
  color: #EEB211 !important;
}

.banner {
	padding-top: 0px;
	background-color: black;
    padding-bottom: 32px;

}

.banner > h1{
		color: white;
		float: left;
    	margin: 0;
    	position: relative;
	}


.banner > h2{
		color: white;
		font-size: 1.429em;
    	margin: 0;
    	padding: 28px 30px 0 0;
    	text-align: right;
	}

.nav_2_header {
  background: #EEB211 !important;
  color: #000;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  width: 1500px;
}

.dropdown-menu {

  background: #EEB211 !important;
  border-radius: 10px 0px 10px 0px;

}


.dropdown-menu > li{

	background: #EEB211 !important;
  margin: 0;
  padding: 0px;
  

}

.dropdown-menu > li:hover a{
  background: #000 !important;
  color: #ffffff !important;
  width: 100%

}






.modal-header,.modal-header > h4{
      background-color: #000;
      color:white !important;
      text-align: left;
      font-size: 22px;
  }

.close {
      background-color: #000;
      color:white !important;
      text-align: right;
      font-size: 22px;
  }



.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 500px;
    overflow-y: auto;

}


#map{

    height: 500px;
    position: relative;
}

#tabContent {
 border: 0 !important;
  
}

#tabContent > li {
  
  text-align: center;
  font-weight: 400

}

#tabContent > li > a {
  color: #000

}

 
#tabContent > li > a.active {
  color: #EEB211
  

}