.modal-header, h4, .close {
      background-color: #1E90FF;
      color:white !important;
      text-align: center;
      font-size: 22px;
  }
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 500px;
    overflow-y: auto;
}