<html>
<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="static/model.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="json/gtcomputing.json"></script>
		<script type="text/javascript" src="static/read_json.js"></script>
		<script type="text/javascript" src="static/google_map.js"></script>
		<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApUXQ_sGhNb39YEYx0OUlxJRXY2GKy5GM&callback=initMap"></script>
		<style>
			#map {
			height: 45px;
			width: 70%;
			}
		</style>
	</head>
<body>
	<h3 align = "center">What's Trending in Georgia Tech</h3>
		<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Home</a></li>
				<li class="dropdown" id="clubs" onclick="getTweets()">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Clubs<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">India Club</a></li>
						<li><a href="#">China Club</a></li>
						<li><a href="#">Korea Club</a></li>
						<li><a href="#">French Club</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Events<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Career Fair</a></li>
						<li><a href="#">SAA Events</a></li>
						<li><a href="#">Sting Break</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Sports<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Football</a></li>
						<li><a href="#">Basketball</a></li>
						<li><a href="#">Softball</a></li>
						<li><a href="#">Tennis</a></li>
						<li><a href="#">Baseball</a></li>
						<li><a href="#">Golf</a></li>
						<li><a href="#">Track and Field</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Trending Posts</h4>
					</div>
					<div class="modal-body">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div style="width: 100%; display: table;">
		<div style="display: table-row">
			<div style="display: table-cell;" id="map">  </div>
				<div style="display: table-cell;" id="panel"> 
					<a class="twitter-timeline" data-width="500" data-height="430" href="https://twitter.com/GeorgiaTech?ref_src=twsrc%5Etfw">Tweets by Georgia Tech</a>
				</div>
			</div>
		</div>
		<script>
			$(document).on('click', '.dropdown-menu li a', function() {
				var value=$(this).html();
				console.log(value);
				var twitter_obj = [
						{"name": "Football", "twitter_tag": "@GeorgiaTechFB", "insta_tag": "georgiatechfb"},
						{"name": "Golf", "twitter_tag": "@GT_GOLF", "insta_tag": "georgiatechgolf"}
				];
				var twitter_hashtag;
				var insta_hashtag;
				for (var i = 0; i < twitter_obj.length; i++){
					if (twitter_obj[i].name == value){
						twitter_hashtag=twitter_obj[i].twitter_tag;
						insta_hashtag=twitter_obj[i].insta_tag;
					}
				}
				var twitter_responseVar;
				var insta_responseVar;
				twitter_send = {'param': twitter_hashtag}
				insta_send = {'param': insta_hashtag}
				twitter_responseVar = $.parseJSON($.ajax({
					url: 'http://127.0.0.1:5000/twitter/',
					data: JSON.stringify(twitter_send, null, '\t'),
					type: 'POST',
					contentType: 'application/json;charset=UTF-8',
					async: false,
					success: function(data) {
						console.log(data);
					}
				}).responseText);
				
				insta_responseVar = $.parseJSON($.ajax({
					url: 'http://127.0.0.1:5000/insta/',
					data: JSON.stringify(insta_send, null, '\t'),
					type: 'POST',
					contentType: 'application/json;charset=UTF-8',
					async: false,
					success: function(data) {
						console.log(data);
					}
				}).responseText);
				//length of result object 'responseVar' is found by Object.keys(responseVar).length
			});
		</script>
	</body>
	</html>